@model IEnumerable<WebCRM.ViewModels.ContactListViewModel>

@{
    ViewBag.Title = "Contacts List";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblContacts').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Contacts/GetContactsList",
            "bProcessing": true,
            "paging": true,
            "searching": true,
            "aoColumns": [
                            {
                                "data": "ID",
                                "sortable": false,
                                "searchable": false,
                                "width": 110,
                                "render": function (data, type, row, meta) {
                                    return "<a href=\"/Contacts/Details/" + data + "\">View</a> | " + 
                                           "<a href=\"/Contacts/Edit/" + data + "\">Edit</a> | " +
                                           "<a href=\"/Contacts/Delete/" + data + "\">Delete</a> ";

                                }
                            },
                            { "data": "FullName" },
                            { "data": "Title" },
                            { "data": "Phone" },
                            { "data": "Email" },
                            { "data": "CompanyName" }
            ],
            "order": [1, "asc"]
        });
    });
</script>
<h2>Contacts List</h2>

<div class="panel">
    <div class="panel-heading"></div>
    <div class="panel-footer text-right">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
    </div>
</div>

<table id="tblContacts" class="table table-bordered table-hover table-striped  display cell-border">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
