@model WebCRM.Models.ActivityHistory

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#CompanyID').change(function () {
            $('#wait1').show();
            $.ajax({
                // Get Contacts PartialView
                url: "/Companies/CompanyContactsDropdownList/" + $(this).val(),
                type: 'Get',
                success: function (data) {
                    $("#companyContactsDropdownList").empty().append(data);
                },
                error: function () {
                    alert("unable to retrieve company contacts - something went bad...");
                },
                complete: function () {
                    $('#wait1').hide();
                }
            });

        });

        $('.datetime-picker').datetimepicker(
            {
                format: "Y-m-d H:i",
                step: 15
            }
        );

        $('#ActivityType').focus();

    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ActivityHistory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.ActivityType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.ActivityType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActivityType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActivityStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.ActivityStatus, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActivityStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyID, "CompanyID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CompanyID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactID, "ContactID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div id="companyContactsDropdownList" class="col-md-10">
                @Html.DropDownList("ContactID", null, htmlAttributes: new { @class = "form-control" })
                <img src="/Content/ajax-loader.gif" id="wait1" style="display:none;" />
                @Html.ValidationMessageFor(model => model.ContactID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datetime-picker" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datetime-picker" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @if (@ViewBag.from == "company_view")
    {
        @Html.ActionLink("Back to Company", "Details", "Companies", new { id = Model.CompanyID }, new { })
    }
    @if (@ViewBag.from == "contact_view")
    {
        @Html.ActionLink("Back to Contact", "Details", "Contacts", new { id = Model.ContactID }, new { })
    }
    @if (@ViewBag.from != "company_view" && @ViewBag.from != "contact_view")
    {
        @Html.ActionLink("Back to List", "Index")
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
